@model IdentityServer4.Quickstart.Model.ErrorViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
    var recaptchaKey = @Configuration.GetSection("ApplicationKeys")["reCaptchaV2:SiteKey"];
    ViewBag.Title = @Localizer["PAGE.VERIFICATION.FIELD.ENCOUNTERED_ERROR"];
}
@{
    ViewBag.Title = Model.ErrorTitle;
    ViewBag.SubTitle = Model.ErrorMessage;
}
<div class="access-denied unform">
    <div class="header-form">
        <div class="tenant title-form-error">
            <span class="tenant-name">@Localizer["PAGE.VERIFICATION.FIELD.ENCOUNTERED_ERROR"]</span>
        </div>
        <span class="error-title">Unauthorized_client</span>
    </div>
    <form id="mainForm" class="page-login" asp-route="Error">
        @if (!string.IsNullOrEmpty(recaptchaKey))
            {
                <div id='recaptcha' class="g-recaptcha" data-sitekey="@recaptchaKey" data-callback="onSubmit"
                    data-expired-callback="expiredCallback" data-size="invisible">
                </div>
            }
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
        <div asp-validation-summary="ModelOnly" class="error-message"></div>
        <div class="col-12">
            <div class="form-floating">
                <span class="center-text sub-title">
                    <span>Request Id: @request_id</span>
                </span>
            </div>
        </div>

        <div class="col-12 text-center btn-bar footer-verify">
            <button type="submit" name="button" id="btn-ok" class="btn btn-primary text-uppercase acceptBtn">@Localizer["BUTTON.OK"]</button>
        </div>
    </form>
</div>

@section scripts
{
    @if (Model.AutoRedirectTime > 0)
    {
        <script src="~/js/auto-redirect.js"></script>
    }
}
