@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IdentityServer4.Quickstart.Model.SetPasswordSuccessInputModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = Localizer["PAGE.SET_PASSWORD_SUCCESS.TITLE"];
    ViewBag.SubTitle = Localizer["PAGE.SET_PASSWORD_SUCCESS.SUB_TITLE"];
    var recaptchaKey = @Configuration.GetSection("ApplicationKeys")["reCaptchaV2:SiteKey"];
}
<div class="access-denied unform">
    <div class="header-form">
        <div class="tenant">
            <span class="tenant-name">@ViewBag.SubTitle</span>
        </div>
    </div>
    <form class="page-login row g-0" asp-route="SetPasswordSuccess">
        @if (!string.IsNullOrEmpty(recaptchaKey))
            {
                <div id='recaptcha' class="g-recaptcha" data-sitekey="@recaptchaKey" data-callback="onSubmit"
                    data-expired-callback="expiredCallback" data-size="invisible">
                </div>
            }
    <input type="hidden" name="Username" value="@Model.Username" />
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
    <div class="col-12 mb-3">
        <div class="form-group text-center">
            @* <span>
                <span class="sub-title">You will be logged in after </span>
                <span class="sub-title" id="countdown">@Model.AutoRedirectTime</span>
                <span class="sub-title">second(s).</span>
             </span> *@
            <span class="sub-title">@Localizer["MESSAGE.LOGIN_WITH_NEW_PASSWORD"]</span>
        </div>
    </div>
    <div class="col-12 text-center btn-bar">
        <button type="submit" id="btn-ok" class="btn btn-primary text-uppercase">@Localizer["BUTTON.OK"]</button>
    </div>
</form>
</div>
@* @section scripts
{
    <script src="~/js/auto-redirect.js"></script>
} *@
