@using Microsoft.AspNetCore.Mvc.Localization
@using Newtonsoft.Json
@inject IViewLocalizer Localizer
@model IdentityServer4.Quickstart.Model.SetPasswordInputModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = Localizer["PAGE.SET_PASSWORD.TITLE"];
    ViewBag.SubTitle = Localizer["PAGE.SET_PASSWORD.SUB_TITLE"];
    var recaptchaKey = @Configuration.GetSection("ApplicationKeys")["reCaptchaV2:SiteKey"];
    var passwordPolicyData = JsonConvert.SerializeObject(Model.PasswordValidationRules);
    var lowercase_min =
    Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_LOWERCASE_MIN];
    var uppercase_min =
    Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_UPPERCASE_MIN];
    var numeric_char_min =
    Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_NUMERIC_CHAR_MIN];
    var special_char_min =
    Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_SPECIAL_CHAR_MIN];
    var history_letter_change =
    Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_HISTORY_LETTER_CHANGE_NUMBER];
    var lowercase_min_num = int.Parse(lowercase_min) > 0 ? int.Parse(lowercase_min) : 0;
    var uppercase_min_num = int.Parse(uppercase_min) > 0 ? int.Parse(uppercase_min) : 0;
    var numeric_char_min_num = int.Parse(numeric_char_min) > 0 ? int.Parse(numeric_char_min) : 0;
    var special_char_min_num = int.Parse(special_char_min) > 0 ? int.Parse(special_char_min) : 0;
    var history_letter_change_num = int.Parse(history_letter_change) > 0 ? int.Parse(history_letter_change) : 0;
}

<div class="access-denied-login">
    <div class="header-form">
        <div class="tenant">
            <span class="tenant-name">@Localizer["PAGE.VERIFICATION.FIELD.WELCOME_BACK"]</span>
        </div>
        <span class="sub-title">@ViewBag.SubTitle</span>
    </div>
    <form id='mainForm' class="page-login row g-0" asp-route="SetPassword">
        @if (!string.IsNullOrEmpty(recaptchaKey))
            {
                <div id='recaptcha' class="g-recaptcha" data-sitekey="@recaptchaKey" data-callback="onSubmit"
                    data-expired-callback="expiredCallback" data-size="invisible">
                </div>
            }
        <input type="hidden" name="Username" value="@Model.Username" />
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
        <input type="hidden" name="SetPasswordToken" value="@Model.SetPasswordToken" />
        <input type="hidden" name="TokenType" value="@Model.TokenType" />
        <input type="hidden" name="FirstName" value="@Model.FirstName" />
        <input type="hidden" name="LastName" value="@Model.LastName" />
        <div class="error-message-block">
            <div asp-validation-summary="ModelOnly" class="error-message"></div>
        </div>

        <div class="col-12">
            <div class="form-group first-child">
                <label for="user_password" class="form-label">@Localizer["PAGE.SET_PASSWORD.FIELD.PASSWORD"]</label>
                <div class="input-password-group">
                    @if (@Model.LoginTypeCode == "ahi-local") {<div id="validate-password-box" class="validate-password">
                        <div>
                            @if
                            (Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_LENGTH_ENABLED]
                            == "true")
                            {
                                <div class="validate-password-flex-center">
                                    <div id="password-policy-length" class="validate-password-icon"></div>
                                    <div class="validate-password-item-title">
                                        @Localizer["PAGE.VERIFICATION.TEXT.TITLE_LENGTH"]</div>
                                </div>
                                <div>
                                    <div class="validate-password-item-sub validate-password-flex-center">
                                        <div class="validate-password-item-dot">
                                        </div>
                                        <div>
                                            @Localizer["PAGE.VERIFICATION.TEXT.TITLE_MINIMUM_LENGTH", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_LENGTH_MIN]]
                                        </div>
                                    </div>
                                    <div class="validate-password-item-sub validate-password-flex-center">
                                        <div class="validate-password-item-dot"></div>
                                        <div>
                                            @Localizer["PAGE.VERIFICATION.TEXT.TITLE_MAXIMUM_LENGTH", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_LENGTH_MAX]]
                                        </div>
                                    </div>
                                </div>
                            }
                            @if
                            (Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_ENABLED]
                            == "true" && (@lowercase_min_num > 0 || @uppercase_min_num > 0 || @numeric_char_min_num > 0
                            || @special_char_min_num > 0))
                            {
                                <div class="validate-password-flex-center">
                                    <div id="password-policy-categories" class="validate-password-icon"></div>
                                    <div class="validate-password-item-title">
                                        @Localizer["PAGE.VERIFICATION.TEXT.PASSWORD_CATEGORIES"]</div>
                                </div>
                                <div>
                                    @if (@lowercase_min_num > 0)
                                    {
                                        <div class="validate-password-item-sub validate-password-flex-center">
                                            <div class="validate-password-item-dot">
                                            </div>
                                            <div>
                                                @Localizer["PAGE.VERIFICATION.TEXT.LOWERCASE_CHARACTERS", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_LOWERCASE_MIN]]
                                            </div>
                                        </div>
                                    }
                                    @if (@uppercase_min_num > 0)
                                    {
                                        <div class="validate-password-item-sub validate-password-flex-center">
                                            <div class="validate-password-item-dot"></div>
                                            <div>
                                            @Localizer["PAGE.VERIFICATION.TEXT.UPPERCASE_CHARACTERS", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_UPPERCASE_MIN]]
                                            </div>
                                        </div>
                                    }
                                    @if (@numeric_char_min_num > 0)
                                    {
                                        <div class="validate-password-item-sub validate-password-flex-center">
                                            <div class="validate-password-item-dot">
                                            </div>
                                            <div>
                                                @Localizer["PAGE.VERIFICATION.TEXT.NUMERIC_CHARACTERS", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_NUMERIC_CHAR_MIN]]
                                            </div>
                                        </div>
                                    }
                                    @if (@special_char_min_num > 0)
                                    {
                                        <div class="validate-password-item-sub validate-password-flex-center">
                                            <div class="validate-password-item-dot"></div>
                                            <div>
                                                @Localizer["PAGE.VERIFICATION.TEXT.SPECIAL_CHARACTERS", @Model.PasswordValidationRules[IdpServer.Application.Constant.SystemConfigKeys.PASSWORD_COMPLEXITY_SPECIAL_CHAR_MIN]]
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="validate-password-flex-center">
                                <div id="password-policy-contain-info" class="validate-password-icon"></div>
                                <div class="validate-password-item-title">
                                    @Localizer["PAGE.VERIFICATION.TEXT.PASSWORD_NOT_CONTAIN_INFO"]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="validate-password-arrow"></div>}
                    <i class="bi bi-eye-slash password-reveal password-policy-reveal"></i>
                    <input type="password" id="user_password" class="form-control required password"
                        placeholder='@Localizer["PAGE.SET_PASSWORD.FIELD.PASSWORD"]' asp-for="NewPassword"
                        autocomplete="off">
                </div>
                <span asp-validation-for="NewPassword" class="val-error-message"></span>

            </div>
        </div>

        <div class="col-12">
            <div class="form-group last-child-padding-bottom">
                <label for="user_confirm_password"
                    class="form-label">@Localizer["PAGE.SET_PASSWORD.FIELD.CONFIRM_PASSWORD"]</label>
                <div class="input-password-group">
                    <i class="bi bi-eye-slash password-reveal password-confirm-reveal"></i>
                    <input type="password" id="user_confirm_password" class="form-control required password"
                        placeholder='@Localizer["PAGE.SET_PASSWORD.FIELD.CONFIRM_PASSWORD"]'
                        asp-for="ConfirmNewPassword" autocomplete="off">
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="val-error-message"></span>
            </div>
        </div>
        <div class="col-12 text-center btn-bar padding-form">
            <input id="confirm-set-password" type="submit" value='@Localizer["BUTTON.CREATE"]'
                class="btn btn-primary text-uppercase" />
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/js/page.set.password.js"></script>
    @if (@Model.LoginTypeCode == "ahi-local") {
    <script type="text/javascript" id="password-policy-rule" src="~/js/handle-show-password-policy.js"
        asp-append-version="true" data-password-policy="@passwordPolicyData" data-first-name="@Model.FirstName"
        data-last-name="@Model.LastName" data-user-upn="@Model.Username"></script>
    } else {
        <script src="~/js/handle-icon-eye.js" asp-append-version="true"></script>
    }
}
